#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
div#root {
  margin: 0 auto;
  padding: 2rem;
}
.card {
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.card:hover {
  color: white;
  background-color: grey;
}

li {
  text-decoration: none;
  list-style-type: none;
}
